body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
    height: 100%;
    overflow: auto; /* Allows scrolling */
  }
  
  .container {
    text-align: center;
    width: 100%;
  }
  
  .message-month {
    font-size: 36px;
    color: #e44d26; /* Color for "Happy [Month]" */
    padding: 20px;
    font-weight: bold;
  }
  
  .message-babies {
    font-size: 36px;
    color: #4caf50; /* Color for "To all the [Month] babies..." */
    padding: 20px;
    font-weight: bold;
  }
  
  .message-happy-birthday {
    font-size: 36px;
    color: #f44336; /* Color for "[HAPPY BIRTHDAY]" */
    padding: 20px;
    font-weight: bold;
  }
  
  .message-name {
    font-size: 24px; /* Size for names */
    padding: 20px;
    font-weight: bold;
  }
  
  